/* POLICES XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

@font-face {
    font-family: 'aaarghnormal';
    src: url('policesmojo/AAARGH-webfont.eot');
    src: url('policesmojo/AAARGH-webfont.eot?#iefix') format('embedded-opentype'), url('policesmojo/AAARGH-webfont.woff2') format('woff2'), url('policesmojo/AAARGH-webfont.woff') format('woff'), url('policesmojo/AAARGH-webfont.ttf') format('truetype'), url('policesmojo/AAARGH-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'destroyregular';
    src: url('policesmojo/destroy-webfont.eot');
    src: url('policesmojo/destroy-webfont.eot?#iefix') format('embedded-opentype'), url('policesmojo/destroy-webfont.woff2') format('woff2'), url('policesmojo/destroy-webfont.woff') format('woff'), url('policesmojo/destroy-webfont.ttf') format('truetype'), url('policesmojo/destroy-webfont.svg#destroyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'badaboom';
    src: url('policesmojo/badaboom-webfont.eot');
    src: url('policesmojo/badaboom-webfont.eot?#iefix') format('embedded-opentype'), url('policesmojo/badaboom-webfont.woff2') format('woff2'), url('policesmojo/badaboom-webfont.woff') format('woff'), url('policesmojo/badaboom-webfont.ttf') format('truetype'), url('policesmojo/badaboom-webfont.svg#badaboom_bbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'aaarghnormal';
    background-color: #000000;
}
h1,
nav a {
    font-family: 'destroyregular';
}
/* RESET XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

body,
div,
section,
article,
h1,
h2,
h3,
h4,
p,
a,
{
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.icone {
    width: 30px;
}
/* MISE EN PAGE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

#retour,
#menumobile {
    display: none;
}
header,
footer,
.fader {
    position: fixed;
    width: 100%;
    z-index: 300;
    height: auto;
}
footer {
    bottom: 0;
    padding-top: 16px;
    padding-bottom: 20px;
    /*background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 23%, rgba(0,0,0,0.6) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(23%,rgba(0,0,0,0.7)), color-stop(100%,rgba(0,0,0,0.7)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 23%,rgba(0,0,0,0.7) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 23%,rgba(0,0,0,0.7) 100%); 
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 23%,rgba(0,0,0,0.7) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 23%,rgba(0,0,0,0.7) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); */
}
header img {
    width: 100%;
}
.degradebas {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 23%, rgba(0, 0, 0, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(23%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 23%, rgba(0, 0, 0, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 23%, rgba(0, 0, 0, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 23%, rgba(0, 0, 0, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 23%, rgba(0, 0, 0, 1) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
    /* IE6-9 */
    -webkit-transition: opacity .2s linear;
    /* For Safari 3.1 to 6.0 */
    transition: opacity .2s linear;
}
header {
    top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    /* background: -moz-linear-gradient(top,  rgba(0,0,0,0.7) 84%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(84%,rgba(0,0,0,0.7)), color-stop(100%,rgba(0,0,0,0))); 
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.7) 84%,rgba(0,0,0,0) 100%); 
    background: -o-linear-gradient(top,  rgba(0,0,0,0.7) 84%,rgba(0,0,0,0) 100%); 
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.7) 84%,rgba(0,0,0,0) 100%); 
    background: linear-gradient(to bottom,  rgba(0,0,0,0.7) 84%,rgba(0,0,0,0) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );*/
}
header a {
    width: 524px;
    display: inline-block;
    float: left;
    padding-left: 12px;
}
.centre {
    display: block;
    margin: auto;
    width: 1103px;
    text-align: center;
}
#degrade {
    /*   background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 25%, rgba(0,0,0,0.7) 75%, rgba(0,0,0,0) 100%);             background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(25%,rgba(0,0,0,0.7)), color-stop(75%,rgba(0,0,0,0.7)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 25%,rgba(0,0,0,0.7) 75%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 25%,rgba(0,0,0,0.7) 75%,rgba(0,0,0,0) 100%); 
    background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 25%,rgba(0,0,0,0.7) 75%,rgba(0,0,0,0) 100%); /* IE10+ */
    /*  background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 25%,rgba(0,0,0,0.7) 75%,rgba(0,0,0,0) 100%); /* W3C */
    /*  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );*/
    width: 100%;
    position: fixed;
    z-index: -5;
}
.membre {
    /* background-color: rgba(0,0,0,0.7);*/
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6) 87%, rgba(0, 0, 0, 0.6) 88%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(87%, rgba(0, 0, 0, 0.6)), color-stop(88%, rgba(0, 0, 0, 0.6)), color-stop(100%, rgba(0, 0, 0, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 87%, rgba(0, 0, 0, 0.6) 88%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.6) 87%, rgba(0, 0, 0, 0.6) 88%, rgba(0, 0, 0, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.6) 87%, rgba(0, 0, 0, 0.6) 88%, rgba(0, 0, 0, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 87%, rgba(0, 0, 0, 0.6) 88%, rgba(0, 0, 0, 0) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
}
.bg {
    background: url('imagesmojo/fondfimu.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 104%;
    top: 0;
    left: 0;
    z-index: -10;
}
.petitecolonne {
    width: 540px;
    margin: auto;
    text-align: center;
    display: block;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 66%, rgba(0, 0, 0, 0.48) 75%, rgba(0, 0, 0, 0.27) 86%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(66%, rgba(0, 0, 0, 0.65)), color-stop(75%, rgba(0, 0, 0, 0.48)), color-stop(86%, rgba(0, 0, 0, 0.27)), color-stop(100%, rgba(0, 0, 0, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 66%, rgba(0, 0, 0, 0.48) 75%, rgba(0, 0, 0, 0.27) 86%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 66%, rgba(0, 0, 0, 0.48) 75%, rgba(0, 0, 0, 0.27) 86%, rgba(0, 0, 0, 0) 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 66%, rgba(0, 0, 0, 0.48) 75%, rgba(0, 0, 0, 0.27) 86%, rgba(0, 0, 0, 0) 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.65) 66%, rgba(0, 0, 0, 0.48) 75%, rgba(0, 0, 0, 0.27) 86%, rgba(0, 0, 0, 0) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}
.principale {
    padding-bottom: 70px;
    padding-top: 140px;
    position: relative;
}
.membre {
    width: 240px;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #ffffff;
    text-align: initial;
    /* padding: 10px; */
}
.membre h2,
.membre h3 {
    margin: 0;
    display: inline-block;
    vertical-align: initial;
}
.membre h2 {
    padding-left: 18px;
    margin-left: 0;
    padding-top: 5px;
}
.membre h3 {
    float: right;
    color: #f7931e;
    padding: 0 18px;
    padding-top: 10px;
    padding-left: 0;
    /* text-align: right; */
}
.membre h3:first-child {
    padding-right: 10px;
}
.membre p {
    text-align: justify;
    padding: 0 18px;
    max-height: 200px;
}
h1 {
    color: #ffffff;
    margin: 0;
    float: right;
    padding-right: 13px;
    padding-top: 34px;
    font-size: 1.63em;
}
.fader {
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
}
.noirci {
    opacity: 1;
}
.clair {
    opacity: 0;
}
.devant {
    z-index: 300;
}
.derriere {
    z-index: 100;
}
.trans {
    -webkit-transition: all .2slinear;
    /* For Safari 3.1 to 6.0 */
    transition: all .2s linear;
}
nav {
    display: inline-block;
    margin: 0;
}
nav {
    width: 100%;
}
nav a {
    display: inline-block;
    color: #f7931e;
    vertical-align: middle;
    font-size: 1.6em;
    padding-top: 10px;
    text-align: left;
    -webkit-transition: all .2s linear;
    /* For Safari 3.1 to 6.0 */
    transition: all .2s linear;
    padding-right: 66px;
}
nav a:hover {
    color: #ffffff;
}
#l5,
#l6 {
    font-size: 1em;
    width: 30px;
    padding-right: 0;
    padding-left: 14px;
}
.fader {
    height: 130px;
}
.video {
    display: inline-block;
    margin: 15px;
}
@-webkit-keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}
@keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}
/*body { margin: 0; } */

div#slider {
    overflow: hidden;
    position: fixed;
    z-index: -100;
    top: 0;
    width: 100%;
}
div#slider figure img {
    width: 20%;
    float: left;
}
div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slidy infinite;
    -webkit-animation: 20s slidy infinite;
}
.intro h2 {
    display: inline-block;
    padding: 0;
    margin: 0;
    color: #ffffff;
}
.intro p {
    color: #ffffff;
    text-align: justify;
}
.intro {
    margin: 0 auto;
    padding: 15px;
    display: block;
    text-align: left;
}
}
.accueil {
    display: inline-block;
    width: 100%;
    position: relative;
    bottom: 0px;
}
#fixe {
    bottom: 0;
    position: absolute;
    padding-bottom: 56px;
    width: 100%;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 59%, rgba(0, 0, 0, 0.38) 76%, rgba(0, 0, 0, 0.16) 90%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(59%, rgba(0, 0, 0, 0.65)), color-stop(76%, rgba(0, 0, 0, 0.38)), color-stop(90%, rgba(0, 0, 0, 0.16)), color-stop(100%, rgba(0, 0, 0, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 59%, rgba(0, 0, 0, 0.38) 76%, rgba(0, 0, 0, 0.16) 90%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 59%, rgba(0, 0, 0, 0.38) 76%, rgba(0, 0, 0, 0.16) 90%, rgba(0, 0, 0, 0) 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 59%, rgba(0, 0, 0, 0.38) 76%, rgba(0, 0, 0, 0.16) 90%, rgba(0, 0, 0, 0) 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.65) 59%, rgba(0, 0, 0, 0.38) 76%, rgba(0, 0, 0, 0.16) 90%, rgba(0, 0, 0, 0) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}
.intro p,
.intro h2:first-child {
    padding-left: 14px;
}
.intro p {
    padding-right: 14px;
}

.sousnav {
    width: 966px;
    display: inline-block;
    text-align: left;
}
.social {
    width: 100px;
    margin: 0;
    display: inline-block;
    text-align: right;
}
iframe,
.video img {
    width: 236px;
    height: 180px;
}
.video img {
    border: 2px inset;
}
.video a {
    color: #ffffff;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX PARALLAXE  XXXXXXXXXXXXXXXXXX*/

body#reel {
    overflow: initial;
}
.layer img {
    display: block;
    width: 100%;
}
.container {
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100%;
    z-index: -100;
    opacity: 0.4;
}
.scene {
    padding: 0;
    margin: 0;
}
.fill {
    position: absolute;
    bottom: 5%;
    right: 5%;
    left: 5%;
    top: 5%;
}
.expand-width {
    width: 100%;
}
.border {
    border: 2px dashed #00FFAA;
}
.aspect {
    opacity: 0.2;
}
.layer:nth-child(1) {
    opacity: 0.75;
}
.layer:nth-child(2) {
    opacity: 0.30;
}
.layer:nth-child(3) {
    opacity: 0.45;
}
.layer:nth-child(4) {
    opacity: 0.60;
}

.bodyaccueil{
     background-color: rgba(0,0,0,0.5);
  
}
.mini {
    display: inline-block;
    height: 119px;
    width: 119px;
    overflow: hidden;
    margin-top: -6px;
}
.petiteimage {
    width: 100%;
    overflow: hidden;
    cursor: zoom-in;
}
.grossi {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    overflow: hidden;
}
.gallery {
    margin-bottom: 45px;
}
.gallery h2 {
    color: white;
    padding-bottom: 10px;
}
.gallery ul{
    padding-left: 0;
    padding-right: 0;
}
.pop{
    width: 100%;
    position: fixed;
    z-index: 500;
    display: none;
    background-color: rgba(0,0,0,0.8);
    padding: 0;
    margin: 0;
    top: 0;
    text-align: center;
   
    cursor: zoom-out;
}
.popeup{
   
    position:relative;
   /* vertical-align: middle;*/
    display: inline-block;
    width: 80%;
}
    
    
    
.popeup img{
    width: initial;
    margin: 0 auto;
    display: block;
    max-height: 800px;
    padding: 0;
    position: relative;
    max-width: 100%;
    padding-top: 15px;
    padding-bottom: 200px;
    
}
.suivant img, .precedent img {
  
    width: 100%;
    
    margin: auto;
    padding: 0;
    display: block;
}
 
div.suivant{
    width: 5%;
    display: none;
    padding-top: 230px;
    vertical-align: top;
    float: right;
}
div.precedent{
    width: 5%;
    display: none;
    padding-top: 230px;
    vertical-align: top;
    float: left;
}

.prochainconcert {
    width: 31%;
    background-color: rgba(255,255,255,0.3);
    display: inline-block;
    padding-top: 14px;
    padding-bottom: 10px;
    float: left;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 27px;
}

.autresconcert {
    width: 32%;
    background-color: rgba(255,255,255,0.3);
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-right: 14px;
}

.prochainconcert img{
    width: 85%;
    margin-bottom: 2%;
    margin-top: 5%;
}
.concerts{
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}
.concerts h2, .concerts a, .concerts p, .concerts li{
    margin:0;
    color:#ffffff;
}
.concerts li{
    list-style-type: none;
}
.autresconcert ul{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.autresconcert h2, .autresconcert li, .concerts p{
    display:inline-block;
}
.prochainconcert h2, .concerts a{
    padding-bottom: 15px;
    padding-top: 15px;
}
.concerts a:hover{
    color: #f7931e;
}
.concerts h2, .concerts a {
    font-size: 1.5em;
    display: inline-block;
    font-weight: bold;
    margin: 0px 10px;
}


.suivre img{
    width: 100px;
    padding: 20px;
}

.suivre a{
    display:block;
}
#retoursuivre{
margin-left: -33px;
}

#mupiz{
    width: 170px;
}